<div class="contact-container">
    <div class="bg"></div>
    <div class="left-sec">
        <ul>
            <li><h1>Get in Toutch</h1><p>Let's work together and make your marketing goals a reality. Contact us today and start your journey to success.</p></li>
            <li><h2>Mail</h2><h3>saeed.moued@gmail.com</h3></li>
            <li><h2>Phone</h2><h3>+964 751 842 9146</h3></li>
            <li><h2>Addtess</h2><h3>Bekhtiary, Erbil, Iraq</h3></li>
        </ul>
    </div>
    <form action="https://formsubmit.co/saeed.moued@gmail.com"  method="POST" class="contact-form">
        <h1>Contact form</h1>
        <label>Your Email</label>
        <input type="email" name="email" placeholder="Enter Your Email Address" required>
        <label>Your Name</label>
        <input type="text"  name="name"  placeholder="Enter Your Name" required>
        <label>Your Message</label>
        <textarea name="message" id="" cols="10" rows="3" placeholder="Enter Message" required></textarea>
        <input type="hidden" name="_next" value="https://saeedmawed.github.io/MMS-agency/">
        <input type="hidden" name="_captcha" value="false">
        <button type="submit" class="btn mybtn">Submit</button>
    </form>

</div>