@import '../../../assets/sass/variables.scss';
.welcome-container{
    position: relative;
    //background-color: $primary;
    .welcome-img{
        position: relative;
        width: 100%;
        height: 100vh;
        .img-full-w{
            width: 100%;
            height: 100vh;

        }
        &:after{
            content: '';
            position: absolute;
            width: 100%;
            height: 100vh;
            background-color: #1b262c;
            opacity: .5;
            z-index: 2;
            top: 0;
            left: 0;
        }
    }

    .welcome-text{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 4;
        padding: 15rem 8rem;
        font-size: 1.5rem;
        color: $white;
        //align-items: center;
        //justify-items: center;
        .mms{
            color: $primary;
            font-weight: 700;
            font-size: 2rem;
            margin-left: 5px;
        }
        .hi{
            font-size: 2.5rem;
            display: inline-flex;
            margin-right: 5px;
        }
        .welcomeTo{
            font-size: 2rem;
        }
        h1{

            font-size: 1.5rem;
            font-weight: 500;
        }
        .tw{
            margin: 1rem 0;
            font-size: 1.5rem;
        }

    }


}



