@import '../../../assets/sass/variables.scss';
.welcome-container{
    position: relative;

    .welcome-img{
        position: relative;
        width: 100%;
        height: 100vh;
        .img-full-w{
            width: 100%;
            height: 100vh;
            background: url("../../../assets/imgs/welcome.jpg");
            background-size: cover;
            background-repeat: no-repeat;
        }
        &:after{
            content: '';
            position: absolute;
            width: 100%;
            height: 100vh;
            background-color: #41324d;
            opacity: .5;
            z-index: 2;
            top: 0;
            left: 0;
        }
    }

    .welcome-text{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 4;
        padding: 15rem 8rem;
        font-size: 1.5rem;
        color: $white;
        @media screen and (max-width:992px) {
            padding: 15rem 2rem;
        }
        //align-items: center;
        //justify-items: center;
        .mms{
            color: $primary;
            font-weight: 700;
            font-size: 2rem;
            margin-left: .5rem;
            @media screen and (max-width:992px) {
                font-size: 1.6rem;
            }
        }
        .hi{
            font-size: 2.5rem;
            display: inline-flex;
            margin-right: 5px;
            @media screen and (max-width:992px) {
                font-size: 1.8rem;
            }
        }
        .welcomeTo{
            font-size: 2rem;
            @media screen and (max-width:992px) {
                font-size: 1.4rem;
            }
        }
        h1{

            font-size: 1.5rem;
            font-weight: 500;
        }
        .tw{
            margin: 1rem 0;
            font-size: 1.5rem;
            @media screen and (max-width:992px) {
                font-size: 1rem;
            }
        }

    }


}



