<div class="about-container mycontainer">
    <div class="custom-shape-divider-top-1675277779">
        <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
            <path d="M600,112.77C268.63,112.77,0,65.52,0,7.23V120H1200V7.23C1200,65.52,931.37,112.77,600,112.77Z" class="shape-fill"></path>
        </svg>
    </div>
    <div class="about-box">
        <div class="text-sec" >
            <h1 class="h1" data-aos="fade-up" data-aos-duration="1500">What does <strong>MMS</strong> mean ?</h1>

            <p data-aos="fade-up" data-aos-duration="1500">MMS stands for Masterful Marketing Solutions, a full-service agency dedicated to helping businesses achieve their goals through effective and innovative marketing strategies.</p>
            <p data-aos="fade-up" data-aos-duration="1500">Our team of experts works closely with clients to understand their unique needs and develop customized solutions that drive results and grow their brand.</p>
            <a href="#contact" class="btn mybtn">Contact us <span class="material-icons-sharp">
                call
                </span></a>
        </div>
        <div class="img-sec">
            <img src="./assets/imgs/img-1.png" alt="">
        </div>
    </div>
</div>