<div class="projects-container">
    <h1 class="main-title h1">Our Exceptional Quality Work</h1>
    <div class="d-gird">
        <a class="project" data-aos="fade-up" data-aos-duration="1000" data-aos-offset="100" href="https://saeedmawed.github.io/myRestaurant-angular-2022/" target="_blank">
            <img src="./assets/imgs/projects/MyRestaurantAngular.png" alt="">
            <div class="text-sec">
                <h2 class="title">Friends Cafe</h2><h2>Web Design</h2>
            </div>
        </a>
        <a class="project" data-aos="fade-up" data-aos-duration="2000" data-aos-offset="100" href="https://saeedmawed.github.io/portfolio-theme/home.html" target="_blank">
            <img src="./assets/imgs/projects/DesignTheme.io.png" alt="">
            <div class="text-sec">
                <h2 class="title">Design Theme</h2><h2>Web Design</h2>
            </div>
        </a>
        <a class="project" data-aos="fade-up" data-aos-duration="3000" data-aos-offset="100" target="_blank" href="https://saeedmawed.github.io/myShop-angular-2022/home">
            <img src="./assets/imgs/projects/MyShopAngular.png" alt="">
            <div class="text-sec">
                <h2 class="title">Eccommerce Shop</h2><h2>Web Design</h2>
            </div>
        </a>
        <a class="project" data-aos="fade-up" data-aos-duration="1000" data-aos-offset="100" target="_blank" href="https://saeedmawed.github.io/admin-theme-angular-2022/dashboard">
            <img src="./assets/imgs/projects/ElzeroAdminTheme.png" alt="">
            <div class="text-sec">
                <h2 class="title">Elzero Admin Theme</h2><h2>Web Design</h2>
            </div>
        </a>
        <a class="project" data-aos="fade-up" data-aos-duration="2000" data-aos-offset="100" target="_blank" href="https://saeedmawed.github.io/Pinz/">
            <img src="./assets/imgs/projects/Pinz.png" alt="">
            <div class="text-sec">
                <h2 class="title">Beirut Pinz</h2><h2>Web Design</h2>
            </div>
        </a>
        <a class="project" data-aos="fade-up" data-aos-duration="3000" data-aos-offset="100" target="_blank" href="https://saeedmawed.github.io/TariqAbuJbarah/home">
            <img src="./assets/imgs/projects/Tariq Abu Jbarah.png" alt="">
            <div class="text-sec">
                <h2 class="title">Tariq Abu Jbarah Restaurant</h2><h2>Web Design</h2>
            </div>
        </a>
        <a class="project" data-aos="fade-up" data-aos-duration="1000" data-aos-offset="100" target="_blank" href="https://saeedmawed.github.io/admin-theme/product-management.html">
            <img src="./assets/imgs/projects/Admin Theme.png" alt="">
            <div class="text-sec">
                <h2 class="title">Admin Template</h2><h2>Web Design</h2>
            </div>
        </a>

    </div>
</div>